.createPage {
    max-width: 1280px;
    width: 100%;
    min-height: 1900px;
    height: 100%;
    margin: 0 auto;
    position: relative;

    .nav {
        position: fixed;
        z-index: 99;
        width: inherit;
        max-width: inherit;
        height: 50px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .logo {
            padding-left: 50px;

            img {
                position: absolute;
            }
        }

        .links {
            width: 650px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-right: 15px;
            letter-spacing: 2.5px;

            .loginButton {
                background-color: #FFD972;
                border-radius: 26px;
                width: 158px;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #FFD972 0% 0% no-repeat padding-box;
                box-shadow: 0px 10px 6px #00000029;

                &:hover {
                    cursor: pointer;
                    background-color: #cdae5a;
                }
            }

            a {
                font-family: 'Caveat', cursive;
                text-decoration: none;
                font-size: 25px;
                color: black;
            }

        }
    }

    .createTitle {
        font-size: 25px;
        font-family: 'Caveat', cursive;
        font-weight: bold;
        letter-spacing: 2.5px;
        width: 360px;
        height: 30px;
        position: relative;
        padding-top: 214px;
        margin-left: 150px;
    }

    .createForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px;
        justify-content: space-evenly;

        input {
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            font-weight: 100;
            letter-spacing: 2px;
            width: 980px;
            outline: none;
            border: none;
            border-bottom: 3px solid black;
        }

        .createBoxes {
            display: flex;

            .attachImg {
                    margin-left: -110px;
                    margin-bottom: 10px;
                    background-color: #EFA7A7;
                    width: 110px;
                    height: 36px;
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    box-shadow: 0px 10px 6px #00000029;
            
                    &:hover {
                        background-color: #b17979;
            
                    }
            
                    p {
                        font-size: 17px;
                        font-family: 'Caveat', cursive;
                        letter-spacing: 1.7px;
                    }
                }
        }
       
    }

    .createIngredTitle {
        font-size: 20px;
        letter-spacing: 2px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        margin-left: 150px;
        margin-top: 50px;
    }

    .enterForm {
        margin-top: -30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 350px;
        justify-content: space-evenly;

        input {
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            font-weight: 100;
            letter-spacing: 2px;
            width: 980px;
            outline: none;
            border: none;
            border-bottom: 3px solid black;
        }
    }

    .createEnterInstruct {
        font-size: 20px;
        letter-spacing: 2px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        margin-left: 150px;
        margin-top: 50px;
    }

    .buttonWrap {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;

        .createRecipeButton {
            width: 422px;
            height: 52px;
            box-shadow: 0px 10px 6px #00000029;
            border-radius: 26px;
            background-color: #EFA7A7;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                background-color: #b17979;

            }

            p {
                font-size: 25px;
                font-family: 'Caveat', cursive;
                letter-spacing: 2.5px;
            }
        }
    }


    footer {
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        z-index: 99;
        display: flex;
        justify-content: space-between;

        .copyright {
            padding-left: 40px;
            width: 262px;
            height: 18px;

            p {
                letter-spacing: 1px;
                font-size: 15px;
                font-family: 'Lato', sans-serif;
                font-style: italic;
                color: #393939;
            }
        }

        .extra {
            width: 700px;
            height: 18px;
            display: flex;
            justify-content: space-evenly;

            p {
                letter-spacing: 1px;
                font-size: 15px;
                font-family: 'Lato', sans-serif;
                font-style: italic;
                color: #393939;
            }
        }

        .socials {
            width: 80px;
            height: 20px;
            display: flex;
            justify-content: space-between;
            padding-right: 40px;
            filter: contrast(50%)
        }

        img {
            width: 19px;
            height: 19px;
            filter: contrast(50%)
        }
    }
}

@media only screen and (max-width: 1200px) {
    .createPage {
        footer {
            .copyright {
                padding-top: 5px;
                width: 288px;

                p {
                    font-size: 9px;
                }
            }

            .extra {
                padding-top: 5px;

                p {
                    font-size: 9px;
                }
            }
        }

        .createForm {
            input {
                width: 800px;
            }
        }

        .enterForm {
            input {
                width: 800px;
            }
        }
    }
}

@media only screen and (max-width: 930px) {
    .createPage {
        .nav {
            .links {
                width: 500px;

                a {
                    font-size: 20px;
                }
            }
        }

        .createForm {
            input {
                width: 600px;
            }
        }

        .enterForm {
            input {
                width: 600px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .createPage {
        .nav {
            .links {
                display: none;
            }
        }

        footer {
            display: flex;
            flex-wrap: wrap;
            height: 100px;

            .copyright {
                left: 0;
            }

            .socials {
                right: 0;
                position: absolute;
            }
        }

        .createTitle {
            margin-left: 40px;
        }

        .createIngredTitle {
            margin-left: 40px;
        }

        .createEnterInstruct {
            margin-left: 40px;
        }

        .createForm {
                input {
                    width: 400px;
                }
        }

        .enterForm {
            input {
                width: 400px;
            }
        }
    }
}